In [2]:
import pandas as pd
import numpy as np

In [13]:
df = pd.read_csv('C:/Users/Dell/Desktop/data-set/healthy_lf.csv')

In [14]:
df

,City,Rank,Sunshine hours(City),Cost of a bottle of water(City),Obesity levels(Country),Life expectancy(years) (Country),Pollution(Index score) (City),Annual avg. hours worked,Happiness levels(Country),Outdoor activities(City),Number of take out places(City),Cost of a monthly gym membership(City)
0,Amsterdam,1,1858,£1.92,20.40%,81.2,30.93,1434,7.44,422,1048,£34.90
1,Sydney,2,2636,£1.48,29.00%,82.1,26.86,1712,7.22,406,1103,£41.66
2,Vienna,3,1884,£1.94,20.10%,81.0,17.33,1501,7.29,132,1008,£25.74
3,Stockholm,4,1821,£1.72,20.60%,81.8,19.63,1452,7.35,129,598,£37.31
4,Copenhagen,5,1630,£2.19,19.70%,79.8,21.24,1380,7.64,154,523,£32.53
5,Helsinki,6,1662,£1.60,22.20%,80.4,13.08,1540,7.80,113,309,£35.23
6,Fukuoka,7,2769,£0.78,4.30%,83.2,-,1644,5.87,35,539,£55.87
7,Berlin,8,1626,£1.55,22.30%,80.6,39.41,1386,7.07,254,1729,£26.11
8,Barcelona,9,2591,£1.19,23.80%,82.2,65.19,1686,6.40,585,2344,£37.80
9,Vancouver,10,1938,£1.08,29.40%,81.7,24.26,1670,7.23,218,788,£31.04
10,Melbourne,11,2363,£1.57,29.00%,82.1,25.9,1712,7.22,243,813,£36.89
11,Beijing,12,2671,£0.26,6.20%,75.4,85.43,-,5.12,223,261,£38.62
12,Bangkok,13,2624,£0.22,10.00%,74.1,76.64,-,5.99,377,1796,£50.03
13,Buenos Aires,14,2525,£0.57,28.30%,75.9,52.64,-,5.97,246,1435,£22.45
14,Toronto,15,2066,£1.09,29.40%,81.7,37.83,1670,7.23,174,1656,£32.64
15,Madrid,16,2769,£1.30,23.80%,82.2,52.68,1686,6.40,216,2491,£34.54
16,Jakarta,17,2983,£0.21,6.90%,68.5,84.39,-,5.28,114,833,£29.94
17,Seoul,18,2066,£0.59,4.70%,81.3,57.82,1967,5.87,144,389,£43.03
18,Frankfurt,19,1662,£1.95,22.30%,80.6,37.78,1386,7.07,23,551,£39.01
19,Geneva,20,1662,£2.62,19.50%,82.6,27.25,1557,7.56,44,444,£70.00
20,Tel Aviv,21,3311,£1.63,26.10%,81.9,47.28,1898,7.12,139,420,£58.31
21,Istanbul,22,2218,£0.15,32.10%,74.7,69.49,1832,5.13,419,934,£16.97
22,Cairo,23,3542,£0.16,32.00%,70.7,91.74,-,4.15,323,250,£23.25
23,Taipei,24,1405,£0.57,6.20%,75.4,49.32,-,5.12,134,717,£34.76
24,Los Angeles,25,3254,£1.52,36.20%,78.8,66.07,1779,6.94,223,1439,£32.00
25,Mumbai,26,2584,£0.15,3.90%,67.3,82.84,-,3.57,187,1183,£19.54
26,Boston,27,2634,£1.39,36.20%,78.8,27.03,1779,6.94,88,588,£46.27
27,Dublin,28,1453,£1.40,25.30%,80.5,40.07,1772,7.09,159,659,£37.35
28,Tokyo,29,1877,£0.76,4.30%,83.2,42.84,1644,5.87,387,5802,£70.82
29,Chicago,30,2508,£1.20,36.20%,78.8,43.33,1779,6.94,171,1320,£41.14
30,Hong Kong,31,1836,£0.75,6.20%,75.4,67.46,-,5.51,277,1257,£57.95
31,Shanghai,32,1776,£0.29,6.20%,75.4,77.4,-,5.12,108,346,£44.68
32,Brussels,33,1546,£2.11,22.10%,80.4,62.67,1583,6.86,55,988,£25.34
33,San Francisco,34,3062,£1.60,36.20%,78.8,47.36,1779,6.94,242,1031,£65.13
34,Paris,35,1662,£1.95,21.60%,81.8,65.1,1505,6.66,331,4363,£35.93
35,Sao Paulo,36,2003,£0.44,22.10%,73.9,79.78,-,6.37,158,3355,£16.07
36,Zurich,37,1566,£3.20,19.50%,82.6,17.31,1557,7.56,69,538,£73.11
37,London,38,1633,£1.16,27.80%,80.4,58.91,1538,7.16,433,6417,£42.71
38,Johannesburg,39,3124,£0.59,28.30%,56.3,61.83,-,4.81,194,492,£24.28
39,Milan,40,1915,£1.15,19.90%,82.7,67.19,1718,6.38,110,2396,£53.49
40,"Washington, D.C.",41,2528,£1.45,36.20%,78.8,39.18,1779,6.94,83,744,£65.99
41,New York,42,2535,£1.32,36.20%,78.8,57.36,1779,6.94,359,3081,£64.66
42,Moscow,43,1901,£0.41,23.10%,69.5,57.63,1965,5.54,322,3206,£31.40
43,Mexico City,44,2555,£0.45,28.90%,76.4,82.78,2137,6.46,192,1313,£41.99

In [15]:
for column_name in df.columns:
    print(column_name)
    print("NaN Exists: ", df[column_name].isna().any())

City
NaN Exists:  False
Rank
NaN Exists:  False
Sunshine hours(City)
NaN Exists:  False
Cost of a bottle of water(City)
NaN Exists:  False
Obesity levels(Country)
NaN Exists:  False
Life expectancy(years) (Country)
NaN Exists:  False
Pollution(Index score) (City)
NaN Exists:  False
Annual avg. hours worked
NaN Exists:  False
Happiness levels(Country)
NaN Exists:  False
Outdoor activities(City)
NaN Exists:  False
Number of take out places(City)
NaN Exists:  False
Cost of a monthly gym membership(City)
NaN Exists:  False

In [19]:
df['Pollution(Index score) (City)'].replace('-', 30.93, inplace = True)
df['Annual avg. hours worked'].replace('-', 1501, inplace = True)

In [21]:
x = df[['Sunshine hours(City)', 'Life expectancy(years) (Country)', 'Pollution(Index score) (City)', 'Annual avg. hours worked', 'Happiness levels(Country)', 'Outdoor activities(City)', 'Number of take out places(City)']]

In [22]:
from sklearn.cluster import KMeans

In [23]:
kmeans = KMeans(n_clusters = 2)

In [24]:
kmeans.fit(x)

C:\Users\Dell\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\cluster\_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(

KMeans(n_clusters=2)

In [25]:
print(kmeans.labels_)

[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 1 1 0
 1 0 0 0 1 1 0]