### Simple Data

In [2]:
people = {
    "first": ["Faiq", "Ali", "Momi"],
    "last": ["Ahmad", "Khan", "Khalil"],
    "email": ["faiq@gmail.com", "khan@gmail.com", "khalil@gmail.com"],
}

In [3]:
import pandas as pd

In [4]:
df = pd.DataFrame(people)

In [5]:
df

  first    last             email
0  Faiq   Ahmad    faiq@gmail.com
1   Ali    Khan    khan@gmail.com
2  Momi  Khalil  khalil@gmail.com

In [6]:
df['email']

0      faiq@gmail.com
1      khan@gmail.com
2    khalil@gmail.com
Name: email, dtype: object

In [11]:
#Setting email to be index
df.set_index('email', inplace = True)

In [12]:
#But pandas doesn't do it permenantly
#If you want it permenantly then pass an inplace = true argument in df.set_index
df

                 first    last
email
faiq@gmail.com    Faiq   Ahmad
khan@gmail.com     Ali    Khan
khalil@gmail.com  Momi  Khalil

In [13]:
df.index

Index(['faiq@gmail.com', 'khan@gmail.com', 'khalil@gmail.com'], dtype='object', name='email')

In [15]:
#For Accessing row instead of 0 I will use
df.loc['faiq@gmail.com', 'last']

'Ahmad'

In [17]:
#If you've done it accidently then
df.reset_index(inplace=True)

In [18]:
df

              email first    last
0    faiq@gmail.com  Faiq   Ahmad
1    khan@gmail.com   Ali    Khan
2  khalil@gmail.com  Momi  Khalil

In [20]:
df.loc[1]

email    khan@gmail.com
first               Ali
last               Khan
Name: 1, dtype: object